[user]
	name = voverius
	email = voverius@tuta.io
	signingKey = /home/nemo/.ssh/id_ed25519.pub
	
[credential]
	helper = cache --timeout=3600
	
[core]
	editor = nano

[color]
  ui = auto
  
[init]
  defaultBranch = master
[gpg]
	format = ssh
